In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import requests
from bs4 import BeautifulSoup as bs
from selenium.common.exceptions import NoSuchElementException
import re
import time

In [16]:
driver=webdriver.Chrome()

Question 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
page=driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [44]:
name = []
artist = []
upload_date = []
views = []

try:
    name_tags = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
    for tag in name_tags:
        text = tag.text
        text2 = re.sub(r'\[.*?\]', ' ', text)
        name.append(text2)
except NoSuchElementException:
    name.append('-')

# Extracting artist details from Wikipedia website
try:
    artist_tags = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
    for tag in artist_tags:
        artist.append(tag.text)
except NoSuchElementException:
    artist.append('-')

# Extracting upload date from Wikipedia website
try:
    upload_date_tags = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
    for tag in upload_date_tags:
        upload_date.append(tag.text)
except NoSuchElementException:
    upload_date.append('-')

# Extracting views from Wikipedia website
try:
    views_tags = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
    for tag in views_tags:
        views.append(tag.text)
except NoSuchElementException:
    views.append('-')

In [45]:
len(name),len(artist),len(upload_date),len(views)

(30, 30, 30, 30)

In [48]:
df=pd.DataFrame({"NAME":name,"ARTIST":artist,"UPLOAD DATE":upload_date,"VIEWS":views})
df

,NAME,ARTIST,UPLOAD DATE,VIEWS
0,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.22
1,"""Despacito""",Luis Fonsi,"January 12, 2017",8.40
2,"""Johny Johny Yes Papa""",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.88
3,"""Bath Song""",Cocomelon - Nursery Rhymes,"May 2, 2018",6.65
4,"""Shape of You""",Ed Sheeran,"January 30, 2017",6.22
5,"""See You Again""",Wiz Khalifa,"April 6, 2015",6.20
6,"""Wheels on the Bus""",Cocomelon - Nursery Rhymes,"May 24, 2018",5.95
7,"""Phonics Song with Two Words""",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.73
8,"""Uptown Funk""",Mark Ronson,"November 19, 2014",5.17
9,"""Gangnam Style""",Psy,"July 15, 2012",5.09
10,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",5.08
11,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.58
12,"""Dame Tu Cosita""",Ultra Records,"April 5, 2018",4.57
13,"""Axel F""",Crazy Frog,"June 16, 2009",4.40
14,"""Sugar""",Maroon 5,"January 14, 2015",4.02
15,"""Baa Baa Black Sheep""",Cocomelon - Nursery Rhymes,"June 25, 2018",3.99
16,"""Counting Stars""",OneRepublic,"May 31, 2013",3.99
17,"""Roar""",Katy Perry,"September 5, 2013",3.97
18,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.95
19,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.88
20,"""Sorry""",Justin Bieber,"October 22, 2015",3.78
21,"""Humpty the train on a fruits ride""",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.75
22,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.74
23,"""Shree Hanuman Chalisa""",T-Series Bhakti Sagar,"May 10, 2011",3.74
24,"""Perfect""",Ed Sheeran,"November 9, 2017",3.69
25,"""Dark Horse""",Katy Perry,"February 20, 2014",3.69
26,"""Let Her Go""",Passenger,"July 25, 2012",3.63
27,"""Faded""",Alan Walker,"December 3, 2015",3.60
28,"""Girls Like You""",Maroon 5,"May 31, 2018",3.57
29,"""Lean On""",Major Lazer Official,"March 22, 2015",3.56

In [ ]:
driver.close()

Question 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/. You need to find following details:

A) Series

B) Place

C) Date

D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [7]:
driver.get('https://www.bcci.tv/')

In [8]:
fixtures_page=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixtures_page.click()

In [21]:
match_title=[]
series=[]
place=[]
date=[]
#Extracting match Title details 
try:
    title_tags=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope t20-tag"]')
    for tags in title_tags:
        match_title.append(tags.text)
except NoSuchElementException:
    match_title.append('-')
#Extracting Series details 
try:
    series_tags=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for tags in series_tags:
        series.append(tags.text)
except NoSuchElementException:
    series.append('-')
#Extracting place details 
try:
    place_tags=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
    for tags in place_tags:
        place.append(tags.text)
except NoSuchElementException:
    place.append('-') 
#Extracting date details    
try:
    date_tags=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for tags in date_tags:
        date.append(tags.text)
except NoSuchElementException:
    date.append('-')
#Extracting time details
try:
    time_tags=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for tags in time_tags:
        time.append(tags.text)
except NoSuchElementException:
    time.append('-')

In [26]:
len(match_title),len(series),len(place),len(date),len(time)

(9, 9, 9, 9, 9)

In [27]:
df=pd.DataFrame({"MATCH TITLE":match_title,"SERIES":series,"PLACE":place,"DATE":date,"TIME":time})
df

,MATCH TITLE,SERIES,PLACE,DATE,TIME
0,1st T20I,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","5 JUNE, 2024",8:00 PM IST
1,2nd T20I,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","9 JUNE, 2024",8:00 PM IST
2,3rd T20I,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","12 JUNE, 2024",8:00 PM IST
3,4th T20I,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
4,1st T20I,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
5,2nd T20I,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
6,3rd T20I,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
7,4th T20I,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
8,5th T20I,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

In [28]:
driver.close()

Question 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/ You have to find following details: 

A) Rank

B) State

C) GSDP(18-19)- at current prices

D) GSDP(19-20)- at current prices

E) Share(18-19)

F) GDP($ billion)

Note: - From statistics times home page you have to reach to economy page through code.

In [30]:
driver.get("http://statisticstimes.com/")

In [42]:
#clicking on ecconomy button
ecconomy_page=driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button")
ecconomy_page.click()

In [43]:
#clicking india button
india_clicking=driver.find_element(By.XPATH,'//div[@class="dropdown-content"]/a[3]')
india_clicking.click()

In [45]:
# clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
GDP.click()

In [48]:
rank=[]
state=[]
gsdp1=[]
gsdp2=[]
share=[]
gdp=[]
#Extracting Rank details
try:
    rank_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
    for tags in rank_tags:
        rank.append(tags.text)
except NoSuchElementException:
    rank.append('-')  
#Extracting States details    
try:
    state_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
    for tags in state_tags:
        state.append(tags.text)
except NoSuchElementException:
    state.append('-')
#Extracting GSDP(18-19) details    
try:
    gsdp1_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
    for tags in gsdp1_tags:
        gsdp1.append(tags.text)
except NoSuchElementException:
    gsdp1.append('-')  
#Extracting GSDP(19-20) details    
try:
    gsdp2_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
    for tags in gsdp2_tags:
        gsdp2.append(tags.text)
except NoSuchElementException:
    gsdp2.append('-') 
#Extracting share details    
try:
    share_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
    for tags in share_tags:
        share.append(tags.text)
except NoSuchElementException:
    share.append('-') 
#Extracting GDP details    
try:
    gdp_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
    for tags in gdp_tags:
        gdp.append(tags.text)
except NoSuchElementException:
    gdp.append('-')

In [49]:
len(rank),len(state),len(gsdp1),len(gsdp2),len(share),len(gdp)

(66, 66, 66, 66, 66, 66)

In [50]:
df=pd.DataFrame({"Rank":rank,"State":state,"GSDP(18-19)":gsdp1,"GSDP(19-20)":gsdp2,"Share":share,"GDP(18-19)":gdp})
df

   Rank                      State GSDP(18-19) GSDP(19-20)   Share GDP(18-19)
0     1                Maharashtra           -   3,108,022  13.17%    414.928
1     2                 Tamil Nadu   2,364,514   2,071,286   8.78%    276.522
2     3              Uttar Pradesh   2,257,575   1,974,532   8.37%    263.605
3     4                  Karnataka   2,241,368   1,962,725   8.32%    262.029
4     5                    Gujarat           -   1,937,066   8.21%    258.603
..  ...                        ...         ...         ...     ...        ...
61   29          Arunachal Pradesh           -      31,669   0.15%          -
62   30                     Sikkim      35,670      31,519   0.15%     17,832
63   31                   Nagaland           -      27,859   0.13%          -
64   32                    Mizoram           -      24,293   0.12%          -
65   33  Andaman & Nicobar Islands           -       9,209   0.04%          -

[66 rows x 6 columns]

In [51]:
driver.close()

Question 4. Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [4]:
driver.get("https://github.com/")

In [5]:
#Entering Explore page
source_page=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
source_page.click()

In [6]:
#Entering Trending page
trending_page=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending_page.click()

In [19]:
#Extracting URL
url=[]
repository = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in repository:
    url.append(i.get_attribute("href"))

In [52]:
lang=[]
des=[]
count=[]
title=[]
#Extracting Title of trending repositories
repos_title=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for tags in repos_title:
    if tags:
        title.append(tags.text)
    else:
        title.append('-')
for i in url:
    driver.get(i)
    time.sleep(2)
    #Extracting description of trending repositories
    try:
        des_tags=driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        des.append(des_tags.text)
    except NoSuchElementException:
        des.append('_')  
    #Extracting contribution count of trending repositories
    try:
        count_tags=driver.find_element(By.XPATH,'//span[@class="Counter ml-1"]')
        count.append(count_tags.text)
    except NoSuchElementException:
        count.append('_')  
   
    #Extracting language of trending repositories    
    try:
        lang_tags=driver.find_element(By.XPATH,'//ul[@class="list-style-none"]')
        text1=lang_tags.text.replace('%\n','%,').replace('\n','-')
        lang.append(text1)
    except NoSuchElementException:
        lang.append('_')

In [53]:
len(title),len(des),len(count),len(lang)

(25, 25, 25, 25)

In [54]:
df=pd.DataFrame({"Title":title,"Repository description":des,"Contributors count":count,"Language Used":lang})
df

,Title,Repository description,Contributors count,Language Used
0,amlweems / xzbot,"notes, honeypot, and exploit demo for the xz b...",_,"Go-73.2%,Python-26.8%"
1,microsoft / generative-ai-for-beginners,"18 Lessons, Get Started Building with Generati...",54,"Jupyter Notebook-85.0%,Python-11.2%,TypeScript..."
2,heyform / heyform,HeyForm is an open-source form builder that al...,,"TypeScript-93.8%,SCSS-5.5%,Other-0.7%"
3,OpenDevin / OpenDevin,"🐚 OpenDevin: Code Less, Make More",2,sandbox-eval-swe-bench
4,doocs / source-code-hunter,😱 从源码层面，剖析挖掘互联网行业主流技术的底层实现原理，为广大开发者 “提升技术深度” 提...,,
5,wandb / openui,OpenUI let's you describe UI using your imagin...,,"TypeScript-59.2%,Python-33.3%,HTML-5.2%,CSS-0...."
6,AlexanderKoch-Koch / low_cost_robot,_,,Python-100.0%
7,tensorflow / tensorflow,An Open Source Machine Learning Framework for ...,,"C++-56.7%,Python-26.6%,MLIR-5.9%,Starlark-4.0%..."
8,jwasham / coding-interview-university,A complete computer science study plan to beco...,,_
9,zyronon / douyin,TikTok 抖音 Vue.js,,"Vue-83.4%,JavaScript-14.2%,Less-2.1%,Other-0.3%"
10,infiniflow / ragflow,RAGFlow is an open-source RAG (Retrieval-Augme...,,"Python-65.1%,TypeScript-32.2%,Less-2.5%,Other-..."
11,Mozilla-Ocho / llamafile,Distribute and run LLMs with a single file.,,"C++-63.5%,C-24.6%,Metal-6.3%,Objective-C-2.7%,..."
12,sympy / sympy,A computer algebra system written in pure Python,9,sympy SymPy
13,huggingface / cookbook,Open-source AI cookbook,,Jupyter Notebook-100.0%
14,DioxusLabs / dioxus,"Fullstack GUI library for web, desktop, mobile...",215,DioxusLabs Dioxus Labs
15,janhq / jan,Jan is an open source alternative to ChatGPT t...,1,jan-server
16,tiangolo / typer,"Typer, build great CLIs. Easy to code. Based o...",,"Python-99.7%,Shell-0.3%"
17,DataExpert-io / data-engineer-handbook,This is a repo with links to everything you'd ...,,_
18,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,,_
19,actions / runner-images,GitHub Actions runner images,,"PowerShell-67.9%,Shell-19.5%,HCL-11.7%,Ruby-0...."
20,airbnb / javascript,JavaScript Style Guide,,JavaScript-100.0%
21,microsoft / ML-For-Beginners,"12 weeks, 26 lessons, 52 quizzes, classic Mach...",,"HTML-92.7%,Jupyter Notebook-7.2%,Python-0.1%,V..."
22,ansible / ansible,Ansible is a radically simple IT automation pl...,"5,000+","Python-87.8%,PowerShell-7.0%,Shell-2.7%,C#-2.1..."
23,uptrace / bun,SQL-first Golang ORM,,
24,princeton-nlp / SWE-bench,[ICLR 2024] SWE-Bench: Can Language Models Res...,,"Python-97.4%,Jupyter Notebook-1.5%,Shell-1.1%"

Question no 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [59]:
#open billiboard.com site
driver.get("https:/www.billboard.com/")

In [61]:
#Entering into chart and clicking 
chart=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
chart.click()

In [62]:
#Entering into billboard hot 100 page and clicking it
billoard_page=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
billoard_page.click()

In [63]:
name=[]
artist=[]
last_rank=[]
peak_rank=[]
board_rank=[]
#Extracting song name from billboard hot 100 page
name_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')
for tags in name_tags:
    if tags:
        name.append(tags.text)
    else:
        name.append('-')
 #Extracting Artist name from billboard hot 100 page       
artist_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span')
for tags in artist_tags:
    if tags:
        artist.append(tags.text)
    else:
        artist.append('-')  
#Extracting last week rank from billboard hot 100 page        
rank_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]')
for tags in rank_tags:
    if tags:
        last_rank.append(tags.text)
    else:
        last_rank.append('-')
#Extracting peak rank from billboard hot 100 page        
peak_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]')
for tags in peak_tags:
    if tags:
        peak_rank.append(tags.text)
    else:
        peak_rank.append('-')    
#Extracting week of board rank from billboard hot 100 page
board_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]')
for tags in board_tags:
    if tags:
        board_rank.append(tags.text)
    else:
        board_rank.append('-')

In [81]:
len(name),len(artist),len(last_rank),len(peak_rank),len(board_rank)

(100, 100, 100, 100, 100)

In [82]:
df=pd.DataFrame({"Song Name":name,"Artist Name":artist,"Last week Rank":last_rank,"Peak Rank":peak_rank,"Weeks On Board":board_rank})
df

,Song Name,Artist Name,Last week Rank,Peak Rank,Weeks On Board
0,Like That,"Future, Metro Boomin & Kendrick Lamar",-,1,1
1,Type Shit,"Future, Metro Boomin, Travis Scott & Playboi C...",-,2,1
2,Beautiful Things,Benson Boone,2,2,10
3,Lose Control,Teddy Swims,1,1,33
4,Too Sweet,Hozier,-,5,1
...,...,...,...,...,...
95,La Victima,Xavi,77,46,15
96,Tucson Too Late,Jordan Davis,81,81,4
97,Empire Now,Hozier,-,98,1
98,Girl I've Always Been,Olivia Rodrigo,-,99,1
99,Outskirts,Sam Hunt,92,92,3

Question 6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [3]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [8]:
rank=[]
book_name=[]
author_name=[]
volume_sold=[]
publisher=[]
genre=[]
#Extracting Ranks of novels
rank_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[1]')
for tags in rank_tags:
    if tags:
        rank.append(tags.text)
    else:
        rank.append('-')
#Extracting Books Name of novels        
name_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for tags in name_tags:
    if tags:
        book_name.append(tags.text)
    else:
        book_name.append('-') 
#Extracting Author Name of novels        
name2_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for tags in name2_tags:
    if tags:
        author_name.append(tags.text)
    else:
        author_name.append('-')
#Extracting volumes Sold of novels        
sold_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for tags in sold_tags:
    if tags:
        volume_sold.append(tags.text)
    else:
        volume_sold.append('-')
#Extracting publisher of novels        
publisher_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for tags in publisher_tags:
    if tags:
        publisher.append(tags.text)
    else:
        publisher.append('-') 
#Extracting genre of novels        
genre_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for tags in genre_tags:
    if tags:
        genre.append(tags.text)
    else:
        genre.append('-')

In [9]:
len(rank),len(book_name),len(author_name),len(volume_sold),len(publisher),len(genre)

(100, 100, 100, 100, 100, 100)

In [10]:
df=pd.DataFrame({"Rank":rank,"Book Name":book_name,"Author Name":author_name,"Volumes Sold":volume_sold,"Publisher":publisher,"Genre":genre})
df

,Rank,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

Question 7 skip due to page not working properly

Question 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [17]:
driver.get("https://archive.ics.uci.edu/")

In [18]:
#Entering into dataset and clicking dataset button
dataset_page=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
dataset_page.click()

In [19]:
url=[]
url_link=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for link in url_link:
    text=link.get_attribute('href')
    url.append(text)

In [36]:
dataset_name=[]
data_type=[]
task=[]
attri_type=[]
no_inst=[]
no_attri=[]
years=[]

for i in url:
    driver.get(i)
    time.sleep(2)
    #Extracting Dataset Name from UCI machine learning repositories 
    try:
        dataset_name_tags=driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
        dataset_name.append(dataset_name_tags.text)
    except NoSuchElementException:
        dataset_name.append('-')

    #Extracting Data type from UCI machine learning repositories
    try:
        data_type_tags=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[2]/p')
        data_type.append(data_type_tags.text)
    except NoSuchElementException:
        data_type.append('-')
    #Extracting Tast from UCI machine Learning Repositories
    try:
        task_tags=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[3]/p')
        task.append(task_tags.text)
    except NoSuchElementException:
        task.append('-')
    #Extracting Attribute type from UCI machine Learning Repositories
    try:
        attri_type_tags=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[4]/p')
        attri_type.append(attri_type_tags.text)
    except NoSuchElementException:
        attri_type.append('-') 
    #Extracting no of instances from UCI machine Learning Repositories
    try:
        no_inst_tags=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[5]/p')
        no_inst.append(no_inst_tags.text)
    except NoSuchElementException:
        no_inst.append('-')
   #Extracting no of instances from UCI machine Learning Repositories
    try:
        no_attri_tags=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[6]/p')
        no_attri.append(no_attri_tags.text)
    except NoSuchElementException:
        no_attri.append('-')  
    #Extracting Year from UCI machine Learning Repositories
    try:
        year_tags = driver.find_element(By.XPATH, '//div[@class="relative flex flex w-full items-center gap-4 bg-primary p-2"]/div[2]/h2')
        text = year_tags.text
        match = re.search(r'\b\d{4}\b', text)  # Search for four consecutive digits representing the year
        if match:
            extracted_year = match.group()  # Extract the matched year
            years.append(extracted_year)  # Append the extracted year to the list
    except NoSuchElementException:
        years.append('-')  # Append a placeholder if the year cannot be extracted

In [71]:
len(url),len(dataset_name),len(data_type),len(task),len(attri_type),len(no_inst),len(no_attri),len(years)

(10, 10, 10, 10, 10, 10, 10, 10)

In [72]:
df=pd.DataFrame({"Dataset Name":dataset_name,"Data Type":data_type,"Task":task,"Attribute Type":attri_type,"No of Instances":no_inst,"No of Attribute":no_attri,"Year":years})
df

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Iris,Biology,Classification,Real,150,4,1988
1,Dry Bean,Biology,Classification,"Integer, Real",13611,16,2020
2,Heart Disease,Health and Medicine,Classification,"Categorical, Integer, Real",303,13,1988
3,Rice (Cammeo and Osmancik),Biology,Classification,Real,3810,7,2019
4,Adult,Social Science,Classification,"Categorical, Integer",48842,14,1996
5,Raisin,Biology,Classification,"Real, Integer",900,7,2023
6,Breast Cancer Wisconsin (Diagnostic),Health and Medicine,Classification,Real,569,30,1995
7,Wine,Physics and Chemistry,Classification,"Integer, Real",178,13,1991
8,Wine Quality,Business,"Classification, Regression",Real,4898,11,2009
9,Diabetes,Health and Medicine,Classification,"Categorical, Integer",1,20,-